/*Contenedor de la tabla y el buscador*/
main .cntProductos{
    width: 100%;
    height: 90%;
}

/*Contenedor principal de la tabla de usuarios*/
main .cntProductos .ctnTabla{
    width: 100%;
    height: 90%;
    padding: 1%;
    padding-top: 0%;
    overflow-y: scroll;
}

/*Tabla*/
main .cntProductos .ctnTabla table{
    width: 100%;
    border-spacing: 0px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    table-layout: fixed;
}

/*Encabezado de la tabla*/
main .cntProductos .ctnTabla table thead{
    position: sticky;
    top: 0;
    background-color: rgb(49, 49, 49); 
    width: 100%;
}

/*Filas*/
main .cntProductos .ctnTabla table thead tr{
    border: 1px solid black;
}

/*Columnas*/
main .cntProductos .ctnTabla table thead tr th{
    padding: 0.1%;
    text-align: center;
    color: white;
    font-size: calc(0.5rem + 0.75vw);
    font-family: sans-serif;
    font-weight: lighter;
    border: 1px solid black;
}

/*Cuerpo de la tabla*/
main .cntProductos .ctnTabla table tbody{
    background-color: rgb(255, 255, 255); 
    width: 100%;
    color: black;
}

/*Celda de cada fila*/
main .cntProductos .ctnTabla table tbody tr td{
    border-bottom: 1px solid black;
    padding: 0.2%;
    font-size: calc(0.5rem + 0.6vw);
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Iconos de editar y borrar*/
main .cntProductos .ctnTabla table tbody tr td object{
    cursor: pointer;
    width: calc(0.5rem + 1.4vw);
    height: calc(0.5rem + 1.4vw);
}

/*Columnas de las tablas (especificarles su anchura segun el dato)*/
.editar, .borrar{
    width: 10%;
}
.nombre{
    width: 20%;
}
.descripcion{
    width: 40%;
}
.precio{
    width: 15%;
}

/* MOVILES */
@media screen and
    (max-width: 720px){
       /*Contenedor principal de la tabla de usuarios*/
        main .cntProductos .ctnTabla{
            overflow-x: scroll;
        }
        /*Tabla*/
        main .cntProductos .ctnTabla table{
            width: 180%;
        }
        /*Columnas*/
        main .cntProductos .ctnTabla table thead tr th{
            padding: 0.1%;
            font-size: calc(0.5rem + 1.4vw);
        }
        /*Celda de cada fila*/
        main .cntProductos .ctnTabla table tbody tr td{
            padding: 0.3%;
            font-size: calc(0.5rem + 1.4vw);
        }
        /*Iconos de editar y borrar*/
        main .cntProductos .ctnTabla table tbody tr td svg{
            width: calc(0.5rem + 4vw);
            height: calc(0.5rem + 4vw);
        }
}

/* TABLETS */
@media screen and
    (min-width: 720px) and
    (max-width: 1024px){
        /*Contenedor principal de la tabla de usuarios*/
        main .cntProductos .ctnTabla{
            height: 100%;
        }
        /*Columnas*/
        main .cntProductos .ctnTabla table thead tr th{
            padding: 0.1%;
            font-size: calc(0.5rem + 0.8vw);
        }
        /*Celda de cada fila*/
        main .cntProductos .ctnTabla table tbody tr td{
            padding: 0.3%;
            font-size: calc(0.5rem + 0.8vw);
        }
        /*Iconos de editar y borrar*/
        main .cntProductos .ctnTabla table tbody tr td svg{
            width: calc(0.5rem + 2.2vw);
            height: calc(0.5rem + 2.2vw);
        }
}