*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../../imagenes/fondo2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Contenedor con desenfoque*/
body .desenfoque{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

/*Formulario*/
body .desenfoque form{
    width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 2%;
    background-color: white;
}

/*Titulo del formulario*/
body .desenfoque form h2{
    font-family: sans-serif;
    font-size: calc(0.5rem + 2.5vh);
}

/*Campo de un formulario*/
body .desenfoque form .campo{
    width: 100%;
    padding: 1%;
    margin-top: 2%;
}

/*Label del dato/campo*/
body .desenfoque form .campo label{
    font-family: sans-serif;
    font-size: calc(0.5rem + 1.5vh);
}

/*Campo de texto del formulario*/
body .desenfoque form .campo input[type="text"],
body .desenfoque form .campo input[type="password"]{
    padding: 1%;
    font-family: sans-serif;
    font-size: calc(0.5rem + 1.5vh);
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

body .desenfoque form .campo input[type="text"]:focus,
body .desenfoque form .campo input[type="password"]:focus{
    border-bottom: 2px solid black;
}

/*Botón de aceptar*/
body .desenfoque form .campo input[type="submit"]{
    padding: 2%;
    font-family: sans-serif;
    font-size: calc(0.5rem + 1.5vh);
    outline: none;
    margin-top: 1%;
    background-color: white;
}

body .desenfoque form .campo input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*Clase para centrar elementos*/
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Clase para los errores (label)*/
.error{
    font-family: sans-serif;
    font-size: calc(0.5rem + 1.2vh);
    color: red;
}

/*Clase para ocultar elementos*/
.ocultar{
    display: none;
}

/* Moviles */
@media screen and
    (max-width: 720px){
        /*Formulario*/
        body .desenfoque form{
            width: 80%;
        }
}

/* Tablets */
@media screen and
    (min-width: 720px) and
    (max-width: 1024px){
        /*Formulario*/
        body .desenfoque form{
            width: 45%;
        }
}